.button {
    margin-bottom: 30px;
    margin-top: 10px;
}

.title.is-child {
    margin-left: 30px !important;
}

#headline-button {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;
}

.logo {
    color: red;
    font-size: 4em;
    font-family: 'Oswald', Times;
} 

.small-logo {
    color: red;
    font-size: 2em;
    font-family: 'Oswald', Times;
} 

.has-background {
    background: url('../images/wood.png') no-repeat center center fixed;
    background-size: cover;
}

#element-toggle {
    display: none;
  }
  #element-toggle:checked ~ #myModal {
    display: flex;
  }

